
h1 {
    text-align: center;
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid rgb(49, 51, 180);
    border-radius: 5px;
    color: rgb(49, 51, 180);
}

nav button {
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid red;
    border-radius: 5px;
    color: white;
    background-color: red;
}
